In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.decomposition import PCA
#поле explained_variance_ratio_ содержит процент дисперсии, который объясняет каждая компонента
#Поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты
#Transform для приминения обучения

Для нахождения коэффициента корреляции Пирсона можно воспользоваться функцией corrcoef из пакета numpy.

In [3]:
import os

In [4]:
os.chdir('D:\Leon Projects\Python\Ved ML week4')

In [5]:
prices_data = pd.read_csv('close_prices.csv')

In [6]:
pca = PCA(n_components=10)

In [7]:
pca.fit(prices_data.iloc[:,1:])

PCA(copy=True, n_components=10, whiten=False)

In [8]:
pca.explained_variance_ratio_

array([ 0.73897118,  0.11007169,  0.04995088,  0.0287492 ,  0.02215448,
        0.01931577,  0.00674853,  0.00614091,  0.00320594,  0.00305611])

## Решение первого задания

In [9]:
count = 0
for i in range(1,len(pca.explained_variance_ratio_)):
    count+=1
    print count, pca.explained_variance_ratio_[:i] ,'sum= %f' % sum(pca.explained_variance_ratio_[:i])
    if sum(pca.explained_variance_ratio_[:i]) >= 0.9:
        break

1 [ 0.73897118] sum= 0.738971
2 [ 0.73897118  0.11007169] sum= 0.849043
3 [ 0.73897118  0.11007169  0.04995088] sum= 0.898994
4 [ 0.73897118  0.11007169  0.04995088  0.0287492 ] sum= 0.927743

In [26]:
ans1 = '%s' % count

## Второе задание

In [10]:
trans_data = pca.transform(prices_data.iloc[:,1:])

In [11]:
first_comp = trans_data[:,0]

In [12]:
index = pd.read_csv('djia_index.csv')

In [13]:
index

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
5    2013-09-30  15129.669922
6    2013-10-01  15191.700195
7    2013-10-02  15133.139648
8    2013-10-03  14996.480469
9    2013-10-04  15072.580078
10   2013-10-07  14936.240234
11   2013-10-08  14776.530273
12   2013-10-09  14802.980469
13   2013-10-10  15126.070312
14   2013-10-11  15237.110352
15   2013-10-14  15301.259766
16   2013-10-15  15168.009766
17   2013-10-16  15373.830078
18   2013-10-17  15371.650391
19   2013-10-18  15399.650391
20   2013-10-21  15392.200195
21   2013-10-22  15467.660156
22   2013-10-23  15413.330078
23   2013-10-24  15509.209961
24   2013-10-25  15570.280273
25   2013-10-28  15568.929688
26   2013-10-29  15680.349609
27   2013-10-30  15618.759766
28   2013-10-31  15545.750000
29   2013-11-01  15615.549805
..          ...           ...
344  2015-02-04  17673.019531
345  2015-02-05  17884.880859
346  2015-02-06  17824.289062
347  2015-02-09  17729.210938
348  2015-02-10  17868.759766
349  2015-02-11  17862.140625
350  2015-02-12  17972.380859
351  2015-02-13  18019.349609
352  2015-02-17  18047.580078
353  2015-02-18  18029.849609
354  2015-02-19  17985.769531
355  2015-02-20  18140.439453
356  2015-02-23  18116.839844
357  2015-02-24  18209.189453
358  2015-02-25  18224.570312
359  2015-02-26  18214.419922
360  2015-02-27  18132.699219
361  2015-03-02  18288.630859
362  2015-03-03  18203.369141
363  2015-03-04  18096.900391
364  2015-03-05  18135.720703
365  2015-03-06  17856.779297
366  2015-03-09  17995.720703
367  2015-03-10  17662.939453
368  2015-03-11  17635.390625
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [14]:
corr = np.corrcoef(first_comp,index.iloc[:,1])

In [40]:
ans2 = '%0.2f' % corr[1,0]
ans2

'0.91'

## Третее задание

In [17]:
pca.components_[0]

array([  1.61383840e-02,   1.20644923e-01,  -5.16612711e-02,
         5.04842369e-02,  -1.25859933e-01,   1.14089567e-01,
         2.33906290e-01,  -6.20513749e-03,   2.51227032e-01,
         2.88996029e-01,  -2.64998795e-01,   9.31320168e-02,
         9.13948403e-02,   4.69879340e-02,   2.90549417e-02,
        -2.61068828e-02,   3.29615584e-01,   7.13897133e-02,
         7.62295699e-02,   2.11888868e-01,   2.30922941e-02,
         7.77316954e-02,  -7.20594590e-03,   1.89479745e-01,
         3.21564017e-01,   5.36834873e-02,   5.79683946e-01,
         1.09122230e-04,   8.71614334e-02,  -4.29421420e-02])

In [15]:
max_idx = pca.components_[0].argmax()
print max_idx,pca.components_[0,max_idx]

26 0.579683945747

In [57]:
ans3 = prices_data.columns[max_idx+1]
print ans3

V

In [58]:
txt1 = open('subweek4_2_1.txt','w')
txt2 = open('subweek4_2_2.txt','w')
txt3 = open('subweek4_2_3.txt','w')

In [59]:
txt1.write(ans1)
txt2.write(ans2)
txt3.write(ans3)
txt1.close()
txt2.close()
txt3.close()